@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800&display=swap');
h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans','Times New Roman', Times, sans-serif;
}
body,html{
    height:  100%;
    margin: 0px;
    background: #000000;
}
.wrapper{
    margin: auto;
    background: #fff;
}
.content{
    width: 940px;
    margin: auto;
    
}
/*---stylesheader---*/
header{ 
    background: #a8d4dd;
    height: 100%;
}
.header1{
    background: #a8d4dd;
    display: flex;
    justify-content: space-between;
    
}
.logo{
  color: #3a494c;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
  
}
h1{
    color:  #3a3a3a;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 45px;
   margin-left: -480px;
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.menu{
   margin-left: -320px;
  margin-top: 50px;
}
nav{
    margin-right: 0px;
    margin-top: -10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.items{
    display: inline-block;
    color: #3a3a3a;
    margin-left: 20px;
    padding: 10px 15px;
    text-decoration: none;
    
}
.items:hover{
    background: #3a494c;
    color: #a8d4dd;
    border-radius: 10px;
}   
.header2{
    display: flex;
    justify-content: space-around;
    height: 100%;
    background: #a8d4dd;
}
img{
    width: 300px;
    height: 250px;
    margin-right: 40px;
    margin-top: 40px;
}
.text h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    margin-left: -105px;
    margin-top: 80px;
    width: 370px;
    text-align: center;
}
.circles{
    font-size: 25px;
    display: flex;
    justify-content: center;
    width: 940px;
    height: 40px;
    background: #a8d4dd; 
    margin-bottom: 20px;
}
.circle1{
    color: #fff;
    margin-left: -20px;
}
.circle2{
    color: #fff;
    margin-left: 20px;
   
}
.circle3{
    color: #fff;
    margin-left: 20px;
   
}
/*---styles-section1---*/
.content2{
    width: 940px;
    height: 100%;
    margin: auto;
}
.section1{
    height: 350px;
    background:#fff;
    display: flex;
   justify-content: space-between;
}
.flat{
   width: 300px;
   margin-top: 30px;
   margin-left: -3px; 
}
.imac-phone{
    width: 110px;
    height: auto;
    margin-left: 100px; 
}
h3{
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}
p{
    color: #515151;
    text-align: center;
}
.greatideas{
    width: 200px; 
    margin-top: 30px;
    margin-left: -20px;   
    
}
.light{
   width: 70px;
   height: auto;
    margin-left: 60px;
    margin-top: 30px
}
.browser{
    width: 270px;
    margin-top: 30px; 
    margin-right: 0px; 
}
.document{
    width: 110px;
    height: auto;
    margin-left: 70px
}
/*---styles-section3---*/
.section3{
    height: 100%;
    background: #97d2a4;

}
.content3{
    width: 940px;
    height: 100%;
    margin: 0 auto;
    
}
.title3{
  width: 940px;
  height: 100%; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  
}
.title3 h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-top: 52px;
}
.title3 p{
    font-family: 'Open Sans', sans-serif;
    color: #bfe1c5;
    text-align: center;
    margin-top: -18px;
}
.menu2{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 16px;
    
}
.buttonall{
    display: inline-block;
    background: #ffffff;
    color: #a3a3a3;
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: normal;
    text-decoration: none; 
}
.items2{
    display: inline-block;
    border: 1px solid #97d2a4 ;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px 15px;
    font-weight: normal;
    text-decoration: none; 
}
.items2:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    
}

.images{
    width: 940px;
    height: 280px;
    display: flex;
    justify-content: space-between;
}
.recent1{
    width: 287px;
    height: 200px;
}
.images2{
    width: 940px;
    height: 280px;
    display: flex;
    justify-content: space-between;
}
.recent2{
    width: 287px;
    height: 200px;
}
.link1{
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.buttonrecent{
    background: #ffffff;
    color: gray;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    width: 110px;
    margin-left: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 70px;
}

/*---stylescontent4---*/
.section4{
    height: 100%;
    background: #f1f1f1;

}
.content4{
    width: 940px;
    margin: auto;
     
}
.layered1{
    height: 300px;
    display: flex;
    border: 1px;
    border-color:rgb(223, 223, 223);
    border-style: none none solid none; 
}
.imgdocument{
    width: 250px;
    height: 200px;
}
.layeredtitle{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}
.layeredtitle h3{
    text-align: left;
}
.layeredtitle p{
    text-align: left;
    width: 500px;
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
}
.link2{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.buttonlayered1{
    background: #97d2a4;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    padding: 15px 22px;
    margin-left: 0px;
    text-decoration: none;
    font-weight: bold;
}
.layered2{
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.buttonlayered2{
    background: #e1b6c7;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    padding: 15px 22px;
    margin-left: 0px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.imgdocument2{
    width: 250px;
    height: 200px;
    margin-right: 0px;
}

/*---stylescontent5---*/
.section5{
    height: 100%;
    background: #e1b6c7;
}
.content5{
    width: 940px;
    margin: auto;
}
.meettitle{
    width: 940px;
    height: 100%; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .meettitle h3{
      font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
      color: #ffffff;
      text-align: center;
      margin-top: 70px;
  }
  .meettitle p{
      font-family: 'Open Sans', sans-serif;
      color: #edcfdc;
      text-align: center;
      margin-top: -15px;
  }
  .boxes{
      display: flex;
    justify-content: space-between;
      margin-top: 50px;
      height: 100%;
     
  }
  .box1 .box2 .box3{
      width: 250px;
      height: 500px;
    }
    .user1{
      width: 250px;
      height: 175px;
      margin-top: 30px;
      background-color: #E5E8E8;
    }
    .user2{
        width: 250px;
        height: 175px;
        margin-top: 30px;
        background-color: #E5E8E8;
      }
      .user3{
        width: 250px;
        height: 175px;
        margin-top: 30px;
        background-color: #E5E8E8;
      }
  .userimg{
      margin-top: 70px;
      width: 50px;
      height: 50px; 
      margin-left: 100px;
  }
  .description{
      margin-top: 0px;
    width: 250px;
    height: 190px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}
  .description p{
      margin-top: -30px;
      font-family: 'Open Sans', sans-serif;
      color: #9d9d9d;
}
  .description h5{
      text-align: center;
      font-size: 25px;
      font-family: 'Times New Roman', Times, serif;
}
  .description h6{
      margin-top: -30px;
    text-align: center;
    font-size: 16px;
}
  .social{
    width: 250px;
    height: 50px;
    margin-bottom: 120px;
    background: #ffffff; 
    display: flex;
    justify-content: center;
}
  .social a{
      font-size: 30px;
}
.iconfacebook a{
    color: #2941a5;
    margin-left: 0px;
}
.icontwitter a{
    color: #24a8fb;
    margin-left: 20px;
}
.iconpinterest a{
    color: #d31132;
    margin-left: 20px;
}
/*---stylescontent6---*/
.section6{
    height: 100%;
    background: #b4d4df;
}
.content6{
    width: 940px;
    margin: auto;
}
.recent{
    width: 940px;
    height: 100%; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}
.recent h3{
      font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
      color: #ffffff;
      text-align: center;
      margin-top: 70px;
}
.recent p{
    font-family: 'Open Sans', sans-serif;
    color: #cee2ea;
    text-align: center;
    margin-top: -15px;   
}
.boxes2{
        display: flex;
      justify-content: space-between;
        margin-top: 50px;
        height: 100%;
}
.box4 .box5 .box6{
    width: 300px;
    height: 600px; 
    
}
.arrow1{
    width: 287px;
    height: 200px;
    margin-top: 30px;
    background-color: #E5E8E8;
}
.arrow2{
    width: 287px;
    height: 200px;
    margin-top: 30px;
    background-color: #E5E8E8;
}
.arrow3{
    width: 287px;
    height: 200px;
    margin-top: 30px;
    background-color: #E5E8E8;
}
.arrowimg{
    margin-top: 70px;
    width: 50px;
    height: 50px; 
    margin-left: 120px;   
}
.description2{
    margin-top: -27px;
  width: 287px;
  height: 200px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}
.description2 p{
    margin-top: -20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #9d9d9d;
}
.description2 h5{
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.description2 h6{
    margin-top: -25px;
    color: #6f6f6f;
    font-size: 16px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: italic;
}
.link4{
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 85px;
    margin-bottom: 100px;
    font-family: 'Open Sans', sans-serif;
}
.button6{
    background: #ffffff;
    color: #b4d4df;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    width: 110px;
    margin-left: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}
/*---stylesfooter---*/
.section7{
    height: 100%;
    background: #3c3c3c;

}
.content7{
    width: 940px;
    margin: auto;
}
.footertitle{
    width: 940px;
    height: 100%; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;    
}
.footertitle h1{
      font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
      color: #d2d1cf;
      text-align: center;
      margin-top: 70px;
      margin-left: 0px;
}
.footertitle p{
    font-family: 'Open Sans', sans-serif;
    color: #e8e8e8;
    text-align: center;
    margin-top: -15px;   
}
.footerinformation{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: auto;
    margin-top: 30px;
}
input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 7px;
    border: none;
}
textarea{
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 7px;
    border: none;

}
.link5{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
}

.button7{
    background: #ffffff;
    color: #3f3f3f;
    display: inline-block;
    padding: 18px 30px;
    box-sizing: border-box;
    text-align: center;
    width: 170px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.piepagina{
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 100%;
    border: 1px;
    border-color: black;
    border-style: solid none none none;
}
.social2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 300px;
}
.social2 a{
    padding: 7px;
    width: 30px;
    height: 30px;
    background: #525252;
    color: #3c3c3c;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
   
}
.information2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 10px;
    margin-left: 150px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.information2 h4{
    color: #E8C877;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.information2 h5{
    color: #909090;
    margin-top: 22px;
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
}
.information2 h6{
    color: #909090;
    margin-top: 22px;
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
}
.information2 h3{
    color: #909090;
    margin-top: 21px;
    margin-left: 15px;
    font-weight: normal;
}
.information2 i{
    color: #909090;
    margin-top: 26px;
    margin-left: 5px;
}
.information3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 10px;
}
.information3 h5{
    color: #909090;
    margin-left: 5px;
    margin-top: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
}
.information3 h4{
    color: #E8C877;
    margin-left: 5px;
    margin-top: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
}
